*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 62.5%;
  line-height: 1.6;
}

section {
  padding: 4rem;
}

h2 {
  color: #e8548d;
  font-size: 3rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2::after {
  content: "";
  display: block;
  width: 2rem;
  background-color: #e8548d;
  height: 2px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

span {
  color: #e8548d;
}

.header {
  padding: 0;
  min-height: 100vh;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  background-color: #184162;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 1rem;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item--logo {
  margin-right: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__item--logo:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.navbar__logo {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.2rem;
  border: 3px outset #fdfdfa;
  color: #fdfdfa;
  font-family: inherit;
  margin-left: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__logo:hover {
  border: 3px inset #e8548d;
  color: #e8548d;
}

.navbar__item {
  font-size: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.navbar__link {
  color: #fdfdfa;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar__link:hover {
  border-bottom: 1px solid #e8548d;
  color: #e8548d;
}

.hero {
  height: 100vh;
  max-width: 90rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__text {
  font-size: 7rem;
  color: #fdfdfa;
  z-index: 0;
  line-height: 1.2;
}

.hero__svg {
  margin-left: 10rem;
  width: 25rem;
  height: 25rem;
}

.arrow {
  position: absolute;
  font-size: 4rem;
  color: #e8548d;
  bottom: 0;
  right: 50%;
  -webkit-animation: down_arrow 1s ease-in-out 4s infinite;
          animation: down_arrow 1s ease-in-out 4s infinite;
  text-decoration: none;
}

@-webkit-keyframes down_arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down_arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.toggle-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  right: 2rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 1.5rem;
  border-radius: 1rem;
  background-color: #fdfdfa;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bar.one.active {
  position: absolute;
  top: 50%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bar.two.active {
  display: none;
}

.bar.three.active {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu.active {
  display: none;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.hamburger__list {
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.hamburger__item:not(:last-child) {
  margin-bottom: 1rem;
  width: 100%;
}

.hamburger__link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 800;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburger__link:hover {
  color: #e8548d;
}

@media screen and (max-width: 1100px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
  .hero__text {
    font-size: 5rem;
  }
  .hero__svg {
    margin-top: 1rem;
    margin-left: 0;
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 800px) {
  .toggle-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__item {
    display: none;
  }
  .menu {
    display: block;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__text {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8;
  max-width: 80rem;
  min-width: 20rem;
}

.skills {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.skills__img {
  height: 6rem;
  width: 6rem;
}

.skills__img.xd {
  -ms-grid-column: 2;
  grid-column: 2;
}

.projects {
  background-color: #184162;
}

.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
}

.work__box {
  background-color: #fdfdfa;
  margin: 2rem;
  border-radius: 1rem;
  max-width: 45rem;
  max-height: 15rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.work__box:hover .overlay {
  height: 100%;
}

.work__img {
  border-radius: 1rem;
  width: 22rem;
  height: 15rem;
}

.work__img:hover.overlay {
  height: 100%;
}

.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1.5rem;
}

.work__info__text {
  font-size: 0.75rem;
  line-height: 1.8;
}

.btn__link {
  border: 1px solid #e8548d;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.4rem;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 0.7rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn__link:hover {
  background-color: #e8548d;
  color: #fdfdfa;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22rem;
  height: 0;
  border-radius: 1rem;
  background-color: rgba(232, 84, 141, 0.9);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  overflow: hidden;
}

.overlay__link {
  font-size: 1.5rem;
  color: #fdfdfa;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .work__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 20rem;
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
  }
  .work__box:hover .overlay {
    height: 15rem;
    border-radius: 0;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.contact {
  background-color: #184162;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  max-width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfa;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.form__input {
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e8548d;
}

.form__input:focus {
  border-bottom: 2px solid #e8548d;
}

.form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.form__message__textarea {
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  color: black;
  margin-right: 1rem;
  font-family: inherit;
  border: 1px solid #e8548d;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 95%;
  padding: 0.4rem;
  resize: none;
}

.form__message__textarea:focus {
  border: 2px solid #e8548d;
}

.form__btn {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #e8548d;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__btn:hover {
  background-color: #e8548d;
  cursor: pointer;
  color: white;
}

.footer {
  background-color: #184162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__icon {
  font-size: 3rem;
  color: #fdfdfa;
  margin: 1rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.socials__icon:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #e8548d;
}

.copyright {
  color: #fdfdfa;
  margin-bottom: auto;
}

@media screen and (max-width: 540px) {
  .form-header {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .form-header {
    font-size: 1.5rem;
  }
}

.scroll-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  height: 2rem;
  font-size: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  background-color: #e8548d;
  border-radius: 1rem;
  margin: 2rem;
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.scroll-to-top:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: rgba(232, 84, 141, 0.9);
}
/*# sourceMappingURL=main.css.map */