// My Variables //
$primary-color: #184162;
$secondary-color: #fdfdfa;
$header-color: #e8548d;
$box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
$box-shadow2: 0 15px 20px rgba(0, 0, 0, 0.3);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 62.5%;
  line-height: 1.6;
}

section {
  padding: 4rem;
}

h2 {
  color: $header-color;
  font-size: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    display: block;
    width: 2rem;
    background-color: $header-color;
    height: 2px;
  }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

span {
  color: #e8548d;
}

// Header Section
.header {
  padding: 0;
  min-height: 100vh;
  max-height: max-content;
  background-color: $primary-color;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding: 1rem;
  box-shadow: $box-shadow;
  width: 100%;
  background-color: #184162;

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  &__item--logo {
    margin-right: auto;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__logo {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.2rem;
    border: 3px outset $secondary-color;
    color: $secondary-color;
    font-family: inherit;
    margin-left: 2rem;
    transition: all 0.2s;

    &:hover {
      border: 3px inset $header-color;
      color: $header-color;
    }
  }

  &__item {
    font-size: 1rem;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }

  &__link {
    color: $secondary-color;
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 700;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid $header-color;
      color: $header-color;
    }
  }
}

.hero {
  height: 100vh;
  max-width: 90rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__text {
    font-size: 7rem;
    color: $secondary-color;
    z-index: 0;
    line-height: 1.2;
  }
  &__svg {
    margin-left: 10rem;
    width: 25rem;
    height: 25rem;
  }
}
.arrow {
  position: absolute;
  font-size: 4rem;
  color: #e8548d;
  bottom: 0;
  right: 50%;
  animation: down_arrow 1s ease-in-out 4s infinite;
  text-decoration: none;
  margin-bottom: 2rem;

  @keyframes down_arrow {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0.5;
      transform: translateY(4px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

//HAMBURGER MENU
.toggle-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  right: 2rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  display: none;
  cursor: pointer;
}
.bar {
  height: 2px;
  width: 1.5rem;
  border-radius: 1rem;
  background-color: $secondary-color;
  transition: all 0.2s;
}

.bar.one.active {
  position: absolute;
  top: 50%;
  transform: rotateZ(45deg);
  transition: all 0.2s;
}
.bar.two.active {
  display: none;
}
.bar.three.active {
  transform: rotateZ(-45deg);
  position: absolute;
  top: 50%;
  transition: all 0.2s;
}

.menu {
  display: none;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-self: center;

  &__list {
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 800;
    transition: all 0.2s;

    &:hover {
      color: $header-color;
    }
  }
}

@media screen and (max-width: 1100px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    &__text {
      font-size: 5rem;
    }

    &__svg {
      margin-top: 1rem;
      margin-left: 0;
      width: 20rem;
      height: 20rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .toggle-wrap {
    display: flex;
  }
  .navbar__item {
    display: none;
  }

  .menu.active {
    display: block;
  }
}

//About Section
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    max-width: 80rem;
    min-width: 20rem;

    &__link {
      text-decoration: none;
      color: $header-color;

      &:hover {
        color: rgba($header-color, 0.7);
      }
    }
  }
}
.skills {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;

  &__img {
    height: 6rem;
    width: 6rem;
  }
}

// PROJECTS SECTION

.projects {
  background-color: $primary-color;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;

  &__box {
    background-color: $secondary-color;
    margin: 2rem;
    border-radius: 1rem;
    max-width: 45rem;
    max-height: 15rem;
    box-shadow: $box-shadow2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:hover .overlay {
      height: 100%;
    }
  }

  &__img {
    border-radius: 1rem;
    width: 22rem;
    height: 15rem;

    &:hover.overlay {
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;

    &__text {
      font-size: 0.75rem;
      line-height: 1.8;
    }
  }
}

.btn__link {
  border: 1px solid $header-color;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.4rem;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 0.7rem;
  transition: all 0.2s;
  text-transform: uppercase;

  &:hover {
    background-color: $header-color;
    color: $secondary-color;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22rem;
  height: 0;
  border-radius: 1rem;
  background-color: rgba($header-color, 0.9);
  transition: ease-in-out 0.3s;
  overflow: hidden;

  &__link {
    font-size: 1.5rem;
    color: $secondary-color;
    text-decoration: none;
  }
}

@media screen and (max-width: 900px) {
  .work {
    &__box {
      display: flex;
      flex-direction: column;
      max-width: 20rem;
      max-height: min-content;

      &:hover .overlay {
        height: 15rem;
        border-radius: 0;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

//Contact Section
.contact {
  background-color: $primary-color;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  padding: 3rem;
  max-width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  box-shadow: $box-shadow2;
  transition: all 0.2s;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__input {
    outline: none;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $header-color;

    &:focus {
      border-bottom: 2px solid $header-color;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &__textarea {
      background-color: rgba(white, 0.4);
      overflow: hidden;
      color: black;
      margin-right: 1rem;
      font-family: inherit;
      border: 1px solid $header-color;
      outline: none;
      box-sizing: border-box;
      max-width: 95%;
      padding: 0.4rem;
      resize: none;

      &:focus {
        border: 2px solid $header-color;
      }
    }
  }

  &__btn {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid $header-color;
    padding: 0.5rem 1rem;
    transition: all 0.2s;

    &:hover {
      background-color: $header-color;
      cursor: pointer;
      color: white;
    }
  }
}

//FOOTER SECTION
.footer {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    font-size: 3rem;
    color: $secondary-color;
    margin: 1rem;
    margin-bottom: 3rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      color: $header-color;
    }
  }
}
.copyright {
  color: $secondary-color;
  margin-bottom: auto;
}

#year {
  color: $secondary-color;
  font-weight: 600;
}

@media screen and (max-width: 540px) {
  .form-header {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 480px) {
  .form-header {
    font-size: 1.5rem;
  }
}

.scroll-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  height: 2rem;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  background-color: $header-color;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: $box-shadow;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    background-color: rgba($header-color, 0.9);
  }
}
